.mobile-head {
    padding: 45px;
}

@media (max-width: 767px) {
    .mobile-head {
        padding: 15px;
    }
}

.mobile-head__title {
    padding-bottom: .3em;
    word-wrap: break-word;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.25;
    border-bottom: 1px solid var(--separator-color);
    width: 100%;
}