.mobile-head {
    position: relative;
    height: 48px;
    display: flex;
    margin: 0 20px;
}

.mobile-head:after {
    content: '';
    height: 1px;
    background-color: var(--separator-color);
    position: absolute;
    bottom: 0;

    width: 100%;
}

.mobile-head__title {
    font-size: 24px;
    margin-left: 30px;
    height: 100%;
    line-height: 48px;
}