.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon.icon-menu {
    background-image: url("/src/views/config/icons/svg/icon-menu.svg");
}
.active > .icon.icon-menu {
    background-image: url("/src/views/config/icons/svg/icon-menu-active.svg");
}

.icon.icon-feed {
    background-image: url("/src/views/config/icons/svg/icon-feed.svg");
}

.active > .icon.icon-feed {
    background-image: url("/src/views/config/icons/svg/icon-feed-active.svg");
}

.icon.icon-notification {
    background-image: url("/src/views/config/icons/svg/icon-notification.svg");
}

.active > .icon.icon-notification {
    background-image: url("/src/views/config/icons/svg/icon-notification-active.svg");
}

.icon.icon-eye {
    background-image: url("/src/views/config/icons/svg/icon-eye.svg");
}
