.m-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.m-menu__head {
    margin-bottom: 20px;
}

.m-menu__row:after{
    position: absolute;
    bottom: 0;
    content: "";
    height: 1px;
    background-color: var(--separator-color);
    width: 100%;
}

.m-menu__row {
    display: flex;
    position: relative;
    margin: 0 30px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 16px;
    letter-spacing: 0.02em;
}

.m-menu__school-name {
    position: absolute;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--optional-text-color);
    margin: 0 30px 20px;
    bottom: 48px;
}