.m-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

.m-menu__head {
}

.m-menu__row:after{
    position: absolute;
    bottom: 0;
    content: "";
    height: 1px;
    background-color: var(--separator-color);
    width: 100%;
}

.m-menu__row {
    display: flex;
    position: relative;
    margin: 0 50px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 16px;
    letter-spacing: 0.02em;
}

.m-menu__top {
    display: flex;
    flex-direction: column;
}

.m-menu__school-name {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--optional-text-color);
    padding-bottom: 48px;
    margin: 20px 30px;
}