.navigation {
    display: flex;
}

.navigation > a {
    margin-right: 92px;

    font-size: 18px;
    letter-spacing: 0.02em;
    color: var(--main-link-color);
    word-wrap: break-word;
}

.logo {
    color: var(--main-text-color);
    font-size: 64px;
    letter-spacing: 0.04em;
    margin-top: 33px;
}

.header__nav {
    margin-top: 37px;
    margin-bottom: 38px;
}
